.team-heading{
    background-color: #fa5b46;
}
.card-header{
    background-color: #0072ed;
}
.employee-card{
    margin: 10px;
    min-width: 300px;
    float: left;
    margin-right:2px;
    margin-top: 10px
    
}
.card{
    width: 300px;
    margin-top: 10px ;
}